<%- include('partials/header') %>
<p style='font-size:80px;' align='center'>Welcome to GTA!</p>
<p style='font-size:30px;' align='center'>Guitar Tabs Auto</p>
<ol align='center'>
	<li>1. Click on the guitar strings anywhere and select the fret to hit</li>
	<li>2. The music will play from left end to the right</li>
	<li>3. When you are done writing the music, hit Build to create the music file</li>
	<li>4. Hit Play to listen to your song</li>
</ol>
<div id="app"></div>
<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<!-- Babel Script -->
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script type="text/jsx" src="javascripts/gboard.js" defer>

</script>
<%- include('partials/footer') %>

