body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.gstringc{
	width: 1500px;
	height: 20px;
	background-color: blue;
	margin: 35px;
	
}

.gboardc{
	width:3000px;
	height:400px;
	border: solid;
	border-color: yellow;
}
.gsboardv2c{
	overflow-x:scroll;
}


.gstablec{
	border : 0px solid;
	height: 60px;
	width:3000px;
	margin: 10px;
}

.gstablerowc{
}

td{
}

.gstableitemc{
	border: 0px solid;
	width : 30px !important;
	font-size:22px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 700px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}

.gsitemfretseldiv{
	display:none;
  	position: absolute;
	width:800px;
	top: 200px;
	left:500px;
	padding:3px;
	z-index:1;
	background-color: white;
	border: 1px solid;
}

.fretselectbtn{
	margin-left:2px;
	margin-top:1px;
	align:center;
}

.fretbtns{
}

.playSongForm{
	display:none;
}

.visualstringtest{
	position: relative;
	top: -45px;
	background-color:brown;
	width:3000px;
	height: 5px;
}

.dashcontrols{
	display: inline-block;
}

.PlayInterfaceDiv{

	display: inline-block;
}
